 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Control de Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    </head>
    <body>
        <br/>
        <header th:replace="~{Plantilla/plantilla :: encabezado}"></header>
        <br/>
        <div class="container mt-4">
            <a th:href="@{/nuevoProducto}" class="btn btn-info" align="left">[[#{message.altaProducto}]]</a>
            <a style="position:relative;right:-775px; top:0em;" th:href="@{/export/all}" class="btn btn-warning">[[#{message.boton.excel}]]</a>
            
        </div>
        <div th:if="${supermercados != null and !supermercados.empty}" style="width:auto; height:350px; overflow:auto;" class="container mt-4">
            <table  border="2" class="table" align="auto">
                <tr style="color:white;background-color:grey" align="center">
                <th>[[#{message.codigo}]]</th></b>
                    <th>[[#{message.producto}]]</th>
                    <th>[[#{message.existencias}]]</th>
                    <th>[[#{message.precio}]]</th>
                    <th>[[#{message.cambiar}]]</th>
                    <th>[[#{message.borrar}]]</th>
                </tr>      
                <tr th:each="supermercado : ${supermercados}" align="center">
                    <td th:text="${supermercado.codigo}"></td>
                    <td th:text="${supermercado.producto}"></td>
                    <td th:text="${supermercado.existencias}"></td>
                    <td th:text="${supermercado.precio}"></td>
                    <td><a th:href="@{/cambiar/} + ${supermercado.id_producto}" class="btn btn-warning"/>[[#{message.boton.cambiar}]]</td>                
                    <td> <a th:href="@{/borrar(id_producto=${supermercado.id_producto})}" class="btn btn-danger"/>[[#{message.boton.borrar}]]</td>        
                </tr>
            </table>
        </div>
        <br/>
        <div class="container mt-4">
            <form th:action="@{/buscarProducto}" method="get" align="right">
                <h6>[[#{message.aviso.buscar}]]</h6>
                <input type="text" th:name="palabraClave" id="palabraClave"  th:value="${palabraClave}" placeholder="Dato a buscar"></input>
                <button type="submit" class="btn btn-info">[[#{message.boton.buscar}]]</button>
                <a th:href="@{/}" class="btn btn-danger" type="submit">[[#{message.boton.borrar}]]</a>
            </form>
        </div>
        <div th:if="${supermercados == null or supermercados.empty}" align="center">[[#{message.listavacia}]]
            <br/><br/>
            <div>
                <a th:href="@{/nuevoProducto}" class="btn btn-info">[[#{message.altaProducto}]]</a>
                <a th:href="@{/}" class="btn btn-danger" type="submit">[[#{message.boton.retroceder}]]</a>
            </div>
        </div>
        <footer th:replace="~{Plantilla/plantilla :: piepagina}">
        </footer>
    </body>
</html>
